NEXT_PUBLIC_JAZZ_API_BASE=https://your-jazz-backend.example.com
NEXT_PUBLIC_SUPABASE_URL=https://nirnrxiuguoqwyuvulie.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_CC92GWIHtyljAxYXIvpmLg_4ZsBtEGB
